body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
  }
  
  header, footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 20px 80px 20px; /* Ajusta los paddings para evitar que el contenido se superponga */
    flex-grow: 1; /* Permite que el contenido ocupe el espacio restante */
  }
  
  .seccion {
    width: 45%; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 20px;
    background-color: #e0e0e0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Estilos adicionales para mejorar la apariencia */
  h1, h2 {
    margin-top: 0;
  }