/*--------------------------------------------------------------
Portal web público de la plataforma Correplayas
Proyecto DAW2425 - I.E.S Aguadulce
Versión: 1.0
Autor: Sergio Garcia Butron <sergio.garciabutron@gmail.com>
Tutor: José Antonio Morales Alvarez
Fecha: 07-03-2025
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Tabla de contenido
--------------------------------------------------------------*/

/*
0. Configuraciones previas de la hoja de estilos
1. Estilos generales
2. Encabezado
3. Navegación
4. Contenido principal
5. Pie de página
6. Medios de consulta (responsive design)
*/

/*--------------------------------------------------------------
0. Configuraciones previas de la hoja de estilos
--------------------------------------------------------------*/

/* Fuentes importadas */

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');*/

/* Variables de estilos */ 
:root {
    /* Nuestra paleta de colores */
    --color-primario: #87CEEB;
    --color-secundario: #D2B48C;
    --color-verde-claro: #A7C4BC;
    --color-gris-azulado-oscuro: #3F4C54;
    --color-destacado: #FFB347;
    --color-textos-principal: #002637;
    --color-textos-auxiliar: #F5F5DC;

    /* Nuestros margenes y relleno */ 
    --margen-general-moviles: 20px;
    --margen-general-escritorio: 40px;
    --factor-entre-secciones: 2;
    --margen-secciones-moviles: calc(var(--factor-entre-secciones)*var(--margen-general-moviles));
    --margen-secciones-escritorio: calc(var(--factor-entre-secciones)*var(--margen-general-escritorio));
    --factor-relleno-botones: 0.5;
    --relleno-botones-izquierda-derecha: 20px;
    --relleno-formularios-global: 15px;

    /* Nuestros tamaños de fuentes */
    --tamaño-fuente-h1-escritorio: 36px;
    --tamaño-fuente-h2-escritorio: 32px;
    --tamaño-fuente-h3-escritorio: 28px;
    --tamaño-fuente-h4-escritorio: 24px;
    --tamaño-fuente-h5-escritorio: 20px;
    --tamaño-fuente-h6-escritorio: 18px;
    --tamaño-fuente-p-escritorio: 16px;
    --tamaño-fuente-small-escritorio: 14px;
    --tamaño-fuente-button-escritorio: 16px;
    --factor-ajuste-tabletas: 1px;
    --factor-ajuste-moviles: 2px;

    /* Nuestros tamaños para elementos especificos */
    --altura-cabecera-global: 100px;
    --altura-pie-pagina-global: 50px;
}

/* Configuración por defecto */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:#002637;
    font-family: 'Poppins', 'Open sans';
    scroll-behavior: smooth;    
}

/* Definición de animaciones */
@keyframes aparicion {
    0% {opacity:0; filter:grayscale(100%);}
    50% {opacity:1;}
    100% {filter:grayscale(0%);}
}

/*--------------------------------------------------------------
1. Estilos generales
--------------------------------------------------------------*/

/* Estilos para el cuerpo, encabezados, párrafos, textos secundario, botones y formularios */

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    animation: aparicion 4s; 
}

h1 {
 font-family: 'Poppins', 'Open sans';
 font-size: var(--tamaño-fuente-h1-escritorio);
 font-weight: 600;
}
h2 {
    font-family: 'Poppins', 'Open sans';
    font-size: var(--tamaño-fuente-h2-escritorio);
    font-weight: 600;
}
h3 {
    font-family: 'Poppins', 'Open sans';
    font-size: var(--tamaño-fuente-h3-escritorio);
    font-weight: 600;
}
h4 { 
    font-family: 'Poppins', 'Open sans';
    font-size: var(--tamaño-fuente-h4-escritorio);
    font-weight: 600;
}
h5 {
    font-family: 'Poppins', 'Open sans';
    font-size: var(--tamaño-fuente-h5-escritorio);
    font-weight: 600;
}
h6 {
    font-family: 'Poppins', 'Open sans';
    font-size: var(--tamaño-fuente-h16escritorio);
    font-weight: 600;
}
.titulo {
    text-decoration:underline;
    text-decoration-color: var(--color-secundario);
}
.subtitulo {
    font-size: var(--tamaño-fuente-h4-escritorio);
    text-decoration:underline;
    text-decoration-color: var(--color-secundario);
}


p {
    font-family: 'Poppins', 'Open sans';
    font-size: var(--tamaño-fuente-p-escritorio);
    font-weight: 400;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    line-height: 1.5em;    
}

small {
    font-family: 'Poppins', 'Open sans';
    font-size: var(--tamaño-fuente-small-escritorio);
    font-weight: 600;
}

button {
    font-family: 'Poppins', 'Open sans';
    font-size: var(--tamaño-fuente-button-escritorio);
    font-weight: 600;    
}
 
a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', 'Open sans';
    font-size: var(--tamaño-fuente-p-escritorio);
    text-decoration: none;
    font-weight: 400; 
}
.boton {
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    background-color: var(--color-textos-principal);
    color: var(--color-destacado);    
    font-weight: 600;
}
.boton:hover {
    background-color: var(--color-destacado);
    color: var(--color-textos-principal);

}
.cta {
    text-align: center;
}

/*--------------------------------------------------------------
2. Encabezado
--------------------------------------------------------------*/
  
/* Estilos para el encabezado del sitio web, logo, etc. */
  
header {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--altura-cabecera-global);
    background-color: var(--color-secundario);
}
header img {
    width: var(--altura-cabecera-global);
    padding: 5px 5px 5px 20px;
}
  
/*--------------------------------------------------------------
3. Navegación
--------------------------------------------------------------*/
  
/* Estilos para el menú de navegación, enlaces, etc. */
nav {
    width: 75%;
}  
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px;
}
nav li {
    list-style-type: none;
    padding: 20px;
}
  
/*--------------------------------------------------------------
4. Contenido principal
--------------------------------------------------------------*/
  
/* Estilos para el contenido principal de las páginas, secciones, etc. */
  
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
section:nth-child(odd) {
    padding-top: var(--altura-cabecera-global);
    background-color: var(--color-primario);
}
section:nth-child(even) {
    padding-top: var(--altura-cabecera-global);
    background-color: var(--color-verde-claro);
}
article {
    width: 60%;
    margin: 50px 20%;
    display: flex;
    flex-direction: column;
    padding: var(--relleno-formularios-global);
    border-radius: 10px;
    background-color: var(--color-textos-auxiliar);
}
article img {
    align-self: center;
    border-radius: 20px;
    width: 45%;
}
/*--------------------------------------------------------------
5. Pie de página
--------------------------------------------------------------*/
  
/* Estilos para el pie de página del sitio web, información de contacto, etc. */
  
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    height: var(--altura-pie-pagina-global);
    background-color: var(--color-secundario);
    padding: 15px;
}
  
/*--------------------------------------------------------------
6. Medios de consulta (responsive design)
--------------------------------------------------------------*/
  
/* Estilos para diferentes tamaños de pantalla, adaptabilidad, etc. */
  
@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
    nav {
      display: none;
    }
}
